In [5]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import sys
import matplotlib
%matplotlib inline

In [6]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version 0.24.2
Matplotlib version 3.1.0

## Create Data
- The data set will consist of 5 baby names and the number of births recorded for that year (1880).

In [10]:
names = ["Bob", "Jessica", "Mary", "John", "Mel"]
births = [968, 155, 77, 578, 973]
# merge the two lists using zip

In [11]:
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [14]:
#creating a dataframe object with two specified column headers
df = pd.DataFrame(data=BabyDataSet, columns=["Names", "Births"])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [25]:
# Exporting dataframe to a csv file
df.to_csv("births1880.csv", index=False, header=False)

## Get Data
- To get data from a csv file, we will use the pandas function read_csv

In [27]:
location = '/Users/andrewbrennan/Desktop/IntroDS'
file_name = "/births1880.csv"
location += file_name
location

'/Users/andrewbrennan/Desktop/IntroDS/births1880.csv'

In [32]:
df = pd.read_csv(location, names=["names", "births"])
df

     names  births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [34]:
import os

In [39]:
os.remove(location)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/andrewbrennan/Desktop/IntroDS/births1880.csv'